footer {
  background-color: #f8fcf8;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #cbd5e1;
  font-family: Arial, sans-serif;
}

footer a {
  color: #64748b;
  margin-right: 10px;
  text-decoration: none;
  font-size: 24px;
  vertical-align: middle;
}

footer a svg {
  fill: currentColor;
  vertical-align: middle;
  transition: fill 0.3s ease;
}

footer a:hover svg {
  fill: #334155;
}

footer span {
  color: #64748b;
  font-size: 14px;
  vertical-align: middle;
}
